{:deps
 {cheshire/cheshire                   {:mvn/version "5.10.2"}
  clj-http/clj-http                   {:mvn/version "3.12.3"}
  clj-http-fake/clj-http-fake         {:mvn/version "1.0.3"}
  clojure.java-time/clojure.java-time {:mvn/version "0.3.3"}
  com.fzakaria/slf4j-timbre           {:mvn/version "0.3.21"}
  com.taoensso/timbre                 {:mvn/version "5.2.1"}
  environ/environ                     {:mvn/version "1.2.0"}
  integrant/integrant                 {:mvn/version "0.8.0"}
  io.replikativ/datahike              {:mvn/version "0.5.1504"}
  io.sentry/sentry-clj                {:mvn/version "5.7.180"}
  morse/morse                         {:mvn/version "0.4.3"}
  org.clojure/data.xml                {:mvn/version "0.2.0-alpha6"}}

 :paths ["src" "resources"]

 :aliases
 {:dev   {:extra-paths ["dev"]
          :extra-deps  {integrant/repl {:mvn/version "0.3.2"}}}
  :run   {:main-opts ["-m" "caiorulli.vega.container"]}
  :test  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.66.1034"}}
          :main-opts  ["-m" "kaocha.runner"]}
  :build {:deps       {io.github.clojure/tools.build {:git/tag "v0.8.2" :git/sha "ba1a2bf"}}
          :ns-default build}}}
