{:deps
 {cheshire/cheshire                  {:mvn/version "5.11.0"}
  clj-http/clj-http                  {:mvn/version "3.12.3"}
  clj-http-fake/clj-http-fake        {:mvn/version "1.0.3"}
  clj-commons/iapetos                {:mvn/version "0.1.12"}
  com.fzakaria/slf4j-timbre          {:mvn/version "0.3.21"}
  com.taoensso/timbre                {:mvn/version "5.2.1"}
  environ/environ                    {:mvn/version "1.2.0"}
  integrant/integrant                {:mvn/version "0.8.0"}
  io.replikativ/datahike             {:mvn/version "0.5.1507"}
  io.sentry/sentry-clj               {:mvn/version "5.7.180"}
  io.prometheus/simpleclient_hotspot {:mvn/version "0.16.0"}
  jarohen/chime                      {:mvn/version "0.3.3"}
  medley/medley                      {:mvn/version "1.4.0"}
  morse/morse                        {:mvn/version "0.4.3"}
  org.clojure/core.async             {:mvn/version "1.5.648"}
  org.clojure/data.xml               {:mvn/version "0.2.0-alpha7"}
  tick/tick                          {:mvn/version "0.5.0"}}

 :paths ["src" "resources"]

 :aliases
 {:dev   {:extra-paths ["dev"]
          :extra-deps  {integrant/repl {:mvn/version "0.3.2"}}}
  :run   {:main-opts ["-m" "caiorulli.vega.core"]}
  :test  {:extra-paths ["test"]
          :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                        org.clojure/test.check               {:mvn/version "1.1.1"}}
          :main-opts   ["-m" "cognitect.test-runner"]
          :exec-fn     cognitect.test-runner.api/test}
  :build {:deps       {io.github.clojure/tools.build {:git/tag "v0.8.3" :git/sha "0d20256"}}
          :ns-default build}}}
